<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
    <!-- Full Page Image Header with Vertically Centered Content -->
    <div th:fragment="masthead">
        <header class="masthead">
            <div class="bgimg">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light">Java Potentials: Digitale Jobbeurs</h1>
                        <p class="lead">Online jobbeurs op 4 December 2020 <br>In samenwerking met Real Dolmen, Cevora en VDAB</p>
                        <a href="https://www.eventbrite.com/e/registratie-java-potentials-121208827867" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Deelname is gratis</a>
                        <p id="demo"></p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
<script src="/js/countdown.js"></script>
</html>