<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Full Page Image Header with Vertically Centered Content -->
<div th:fragment="masthead">
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Java Potentials: Een digitale Jobbeurs</h1>
                <p class="lead">Ga in gesprek met 8 beloftevolle Java Ontwikkelaars</p>
            </div>
        </div>
    </div>
</header>
</div>
</body>
</html>