<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>
    <div th:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Kevin van der Kruk</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Wouter Kenis</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Maxim Verbeeck</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Klaas De Cock</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Thomas Goos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Marc Joos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Thomas Veris</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-1">
                    <div class="card">
                        <img class="card-img-top" src="../images/abstract.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tibo XXX</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-dark">Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>