.masthead {
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1.font-weight-light {
    color: white;
}

p.lead {
    color: white;
}

.bgimg {
    height: 100%;
    background-image: url("/images/abstract.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left:-20px;
    margin-right:-20px;
}

.landing {
    padding: 40px;
}