.masthead {
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: black;
}

p.lead {
    color: black;
}

.bgimg {
    height: 100%;
    background-image: url("/images/three.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left:-20px;
    margin-right:-20px;
}

.landing {
    padding: 40px;
}

body {
  overflow-x:hidden;
}