.masthead {
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mastheadH1 {
    color: white;
}

.boxed {
    background: grey;
}

p.lead {
    color: white;
}
p.spacing {
    color: grey;
}

.bgimg {
    height: 100%;
    background-image: url("/images/pexelsOne.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left:-20px;
    margin-right:-20px;

}

.landing {
    padding: 40px;
}

body {
  overflow-x:hidden;
}